@import "./variables.css";

/*Layout*/
body {
  margin: 0;
}

img {
  width: 100%;
  margin: 0;
}

header,
footer {
  background-color: var(--light-green);
  color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  flex-direction: column;
  top: 0;
  position: fixed;
  width: 100%;
}

footer {
  display: flex;
  padding: 20px 0px;
}
ul {
  padding-left: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 30px 0px;
}

nav li {
  display: block;
  margin: 0px 10px;
}

nav a {
  color: var(--dark-green);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.7s ease;
  font-size: 1em;
}

nav a:hover {
  font-size: 1.1em;
}

h1,
h2,
a,
footer {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.text-width {
  max-width: 500px;
  padding: 0px 15px;
}

p {
  color: var(--dark-green);
  line-height: 1.5;
}

/*About Me*/
#about h1 {
  color: var(--dark-green);
}
#about {
  background: var(--light-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#about img {
  max-width: 300px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 1px 1px 8px 1px var(--dark-green);
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 400px;
  margin: 100px 10px 10px 10px;
}

#about .cta {
  background: linear-gradient(to bottom right, var(--pink), transparent)
    var(--light-pink);
  color: white;
  box-shadow: 1px 1px 8px 1px var(--light-green-opacity);
}

#about .cta:hover,
#about .cta:focus {
  background-color: var(--deep-pink);
  color: #fff;
}

/* My projects */
#myProjects h2 {
  color: var(--deep-pink);
  text-align: center;
}

#myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 100%;
  min-height: 100vh;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 30px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  margin: auto;
}

.card {
  box-shadow: 1px 1px 8px 1px #c5c4c4;
  border-radius: 5px;
  background: white;
  max-width: 600px;
}
.card img {
  border-radius: 5px 5px 0px 0px;
}

.card h3,
.card p {
  color: var(--dark-green);
}

.card-content {
  display: grid;
  gap: 20px;
  padding: 0px 10px 20px 10px;
}

#myProjects .cta {
  background: linear-gradient(to bottom right, var(--pink), transparent)
    var(--light-pink);
  color: white;
  box-shadow: 1px 1px 8px 1px var(--light-green-opacity);
}

#myProjects .cta:hover,
#myProjects .cta:focus {
  background-color: var(--deep-pink);
  color: #fff;
}

/*Contact*/
#contact h2 {
  color: var(--dark-green);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-green);
  width: 100%;
  min-height: 100vh;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.some {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.some li {
  display: block;
  align-items: baseline;
  padding: 20px;
}

.some a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-green);
  font-weight: bold;

  transition: 0.7s ease;
}

.some a:hover,
.some a:focus {
  color: var(--deep-pink);
}

/*Ui*/
.cta {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  max-width: 200px;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  transition: background-color 1s;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 3em;
}

@media (min-width: 550px) {
  .some {
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  #about {
    justify-content: center;
    flex-direction: row-reverse;
  }

  .about-content {
    margin: 20px;
  }

  #about img {
    margin: 0px;
  }

  nav a {
    font-size: 1.3em;
  }

  nav a:hover {
    font-size: 1.4em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 1030px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cta-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
