:root {
  --dark-green: #2a3027;
  --light-green: rgb(206, 235, 190);
  --light-green-opacity: rgba(206, 235, 190, 0.5);
  --light-pink: #fccff3aa;
  --dark-pink: #450151;
  --pink: #fa58c7;
  --pink-opacity: #fa58c72f;
}
